/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bbb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.navbar {
  height: 60px !important;
}

table {
  word-wrap: break-word;
}

th {
  font-size: 14px;
  text-align: center;
}

th,
td {
  border: 1px solid #ddd;
  width: 15vw !important;
  padding-top: 5px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  padding-bottom: 0px !important;
  min-width: 170px !important;
  max-width: 15vw !important;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.card-header {
  min-height: 38px;
}

#main {
  transition: margin-right 0.3s;
}
